<div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>新闻动态</span><a href="/">首页</a></div>
<div class="main2">
  <% @articles.each do |article| %>
  <div class="cptp cptp3"><a href="<%= article_path(article) %>"><%= image_tag article.cover_url(:big) %></a><a class="biaoti" href="<%= article_path(article) %>"><%= article.title %></a></div>
  <% end %>
</div>