<div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>公司介绍</span><a href="/">首页</a></div>
<div class="main2">
  <div class="cptp cptp2"><%= image_tag 'logobig.png' %></div>
  <div class="wzxq">
    <p>传承造币历史，引领黄金文化</p>
    <p>中钞国鼎为中国印钞造币总公司直属企业，以其独特技艺、无限创意和顶尖团队独树一帜，成为中国著名贵金属艺术品领军品牌。
    </p>
    <p>公司多元化发展，经营领域涉及贵金属投资、金融衍生品业务和防伪印制等业务。</p>
  </div>
</div>
