<div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>联系我们</span><a href="/">首页</a></div>
<div class="main2">
  <table class="lxfs">
    <tr><td class="title">地址：</td><td>北京市西城区德胜门外大街79号德胜国际中心C座</td></tr>
    <tr><td class="title">热线：</td><td>4008861919</td></tr>
    <tr><td class="title">电话：</td><td>010-59051600</td></tr>
    <tr><td class="title">邮编：</td><td>100088</td></tr>
    <tr><td class="title">传真：</td><td>010-59051555</td></tr>
  </table>
  <div class="erweima"><p><%= image_tag 'weixinerweima.png' %><br>微信二维码</p><p><%= image_tag 'weiboerweima.png' %><br>微博二维码</p></div>
</div>