<div class="main">
  <div class="header"><a href='javascript:void(0);' onclick="history.go(-1);">上一页</a><span>公司</span><a href="/">首页</a></div>
  <div class="cplb">
    <a href="/sub/company_intro">公司介绍</a>
    <a href='<%= articles_path %>'>新闻动态</a>
    <a href="/sub/company_aboutus">联系我们</a>
  </div>
</div>
