<!DOCTYPE html>
<html>
<head>
  <title>中钞国鼎后台</title>
  <%= stylesheet_link_tag 'app_bootstrap', media: 'all' %>
  <%= stylesheet_link_tag 'devise', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
